.game-stats-figures p {
  margin-bottom: 0 !important;
}

.pricing-item-header::after {
  background: white !important;
}
.alert-action-text {
  transition: color 0.15s ease;
}
.alert-action-text:hover {
  color: #8e79fc;
}
.alert-close {
  transition: color 0.15s ease;
}

.alert-close:hover {
  color: #8e79fc !important;
}

.button-tick-hooverable {
  transition: color 0.15s ease;
}

.button-tick-hooverable:hover {
  color: #8e79fc !important;
}

.kovan-link:hover {
  color: #fe88e4;
}

.round-circle {
  margin-left: 10px;
  margin-right: 10px;
}
.timeline {
  margin-top: 60px;
  margin-bottom: 100px;
}
.schedule-right {
  text-align: left;
}
.schedule-left {
  text-align: left;
}
@media (min-width: 641) {
  .schedule-right {
    text-align: right;
  }
}
